{:deps {com.nivekuil/nexus {:git/url "https://github.com/nivekuil/nexus"
                            :git/sha "3b68663ff777cbf95870ba5b5ed8d5a7cb1dcaa1"}
        ring/ring-jetty-adapter {:mvn/version "1.9.6"}}}
